{{ getRelativeHyperlink('Home', 'index.php')|raw }}

{% for label in CONFIG['menuitems']['labels'] %}
  <a target="_blank" href="{{ CONFIG['menuitems']['links'][loop.index0] }}">{{ label }}</a>
{% endfor %}

{% if user_exists %}
  <hr class="navHR">
  {{ getRelativeHyperlink('Account Settings', 'panel/account.php')|raw }}
  {{ getRelativeHyperlink('My PIs', 'panel/groups.php')|raw }}

  {% if is_pi %}
    {{ getRelativeHyperlink('My Users', 'panel/pi.php')|raw }}
  {% endif %}

  {% for label in CONFIG['menuitems_secure']['labels'] %}
    <a target="_blank" href="{{ CONFIG['menuitems_secure']['links'][loop.index0] }}">{{ label }}</a>
  {% endfor %}

  {% if is_admin and (viewUser is null) %}
    <hr class="navHR">
    {{ getRelativeHyperlink('User Management', 'admin/user-mgmt.php')|raw }}
    {{ getRelativeHyperlink('PI Management', 'admin/pi-mgmt.php')|raw }}
  {% endif %}
{% else %}
  {{ getRelativeHyperlink('Login / Request Account', 'panel/account.php')|raw }}
{% endif %}
