{% do setSubject("Group Member Idle-Locked") %}
{% set portal_hyperlink = getRelativeHyperlink("account portal") | raw %}
{% set policy_hyperlink = formatHyperlink("account policy", CONFIG["site"]["account_expiration_policy_url"]) | raw %}
{% set pi_hyperlink = getRelativeHyperlink("group management page", "panel/pi.php") | raw %}

<p>Hello,</p>

<p>
A user from your PI group '{{ group }}' has been idle-locked.
Their details are below:
</p>

<p>
<strong>Username</strong> {{ user }}
<br>
<strong>Organization</strong> {{ org }}
<br>
<strong>Name</strong> {{ name }}
<br>
<strong>Email</strong> {{ email }}
</p>

<p>
    This user is expiring according to our {{ policy_hyperlink | raw }}.
    They have lost acces to Unity HPC Platform services until they reset the inactivity timer by logging in to the {{ portal_hyperlink | raw }}.
</p>

<p>
    If this user is no longer actively participating in your group using Unity HPC Platform services,
    you might consider removing them from your group in the {{ pi_hyperlink | raw }}.
</p>
{% include 'footer.html.twig' %}
