{% do setSubject('Group Member Idle-Locked') %}
{% set portal_hyperlink = getRelativeHyperlink('account portal') %}
{% set policy_hyperlink = formatHyperlink('account policy', CONFIG['site']['account_expiration_policy_url']) %}
{% set pi_hyperlink = getRelativeHyperlink('group management page', 'panel/pi.php') %}

<p>Hello,</p>

<p>
A user from your PI group '{{ group }}' has been has been locked due to a lapse in credential verification.
Their details are below:
</p>

<p>
<strong>Username</strong> {{ user }}
<br>
<strong>Organization</strong> {{ org }}
<br>
<strong>Name</strong> {{ name }}
<br>
<strong>Email</strong> {{ email }}
</p>

<p>
    This user is expiring due to a lapse in credential verification.
    They have lost access to Unity HPC Platform services until they reset the inactivity timer by logging in to the {{ portal_hyperlink|raw }}.
</p>

<p>
    To maintain an active Unity account, users must verify your institutional credentials on a biannual basis due to security requirements.
    Not all forms of activity prove good standing, so only certain actions (like logging into the {{ portal_hyperlink|raw }}) reset the 'inactivity timer'.
    In this first phase of account expiration, all data is preserved, but without intervention data may eventually be lost.
    For more information, see our {{ policy_hyperlink|raw }}.
</p>

<p>
    If this user is no longer actively participating in your group using Unity HPC Platform services,
    you might consider removing them from your group in the {{ pi_hyperlink|raw }}.
</p>
{{ include('footer.html.twig') }}
