
{% set portal_hyperlink = getRelativeHyperlink('account portal') %}
{% set policy_hyperlink = formatHyperlink('account expiration policy', CONFIG['site']['account_expiration_policy_url']) %}

{% if flag == constant('UnityWebPortal\\lib\\UserFlag::QUALIFIED') %}
{% do setSubject('Unity Account Qualified') %}
<p>Hello,</p>
<p>
    Your account on the Unity HPC Platform, "{{ user }}", has been qualified.
    You should now be able to access Unity HPC Platform services.
</p>
<p>
    See the
    <a href="{{ CONFIG['site']['getting_started_url'] }}">Getting Started</a>
    page in our documentation for next steps.
</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::DISABLED') %}
{% do setSubject('Unity Account Disabled') %}
<p>Hello,</p>
<p>
    Your account on the Unity HPC Platform, "{{ user }}", has been disabled.
    You should no longer be able to access Unity HPC Platform services.
    This can happen as a result of the {{ policy_hyperlink|raw }}.
</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::LOCKED') %}
{% do setSubject('Unity Account Locked') %}
<p>Hello,</p>
<p>
    Your account on the Unity HPC Platform, "{{ user }}", has been locked.
    You should no longer be able to access Unity HPC Platform services.
</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::IDLELOCKED') %}
{% do setSubject('Unity Account Locked') %}
<p>Hello,</p>
<p>
    Your account on the Unity HPC Platform, "{{ user }}", has been locked due to a lapse in credential verification.
    You should no longer be able to access Unity HPC Platform services.
    To unlock your account, simply log in to the {{ portal_hyperlink|raw }}.
</p>
<p>
    To maintain an active Unity account, users must verify your institutional credentials on a biannual basis due to security requirements.
    Not all forms of activity prove good standing, so only certain actions (like logging into the {{ portal_hyperlink|raw }}) reset the 'inactivity timer'.
    In this first phase of account expiration, all data is preserved, but without intervention data may eventually be lost.
    For more information, see our {{ policy_hyperlink|raw }}.
</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::ADMIN') %}
{% do setSubject('Unity Account Promoted') %}
<p>Hello,</p>
<p>Your account on the Unity HPC Platform, "{{ user }}", has been promoted to admin.</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::IMMORTAL') %}
{% do setSubject('Unity Account Immortalized') %}
<p>Hello,</p>
<p>Your account on the Unity HPC Platform, "{{ user }}", has been made immortal (exempt from expiry).</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% else %}
{% do setSubject('User Modified') %}
{% set mod_id = uniqid() %}
{% do errorLog('warning', 'unknown flag', errorid: mod_id, data: flag) %}
<p>Hello,</p>
<p>Your account on the Unity HPC platform, "{{ user }}", has been modified.</p>
<p>Modification ID: {{ mod_id }}</p>
<p>Please reply to this email and provide the modification ID for more information.</p>

{% endif %}
{{ include('footer.html.twig') }}
