<p>Hello,</p>

{% do setSubject('Account Expiration Warning') %}
{% set portal_hyperlink = getRelativeHyperlink('account portal') %}
{% set policy_hyperlink = formatHyperlink('account policy', CONFIG['site']['account_expiration_policy_url']) %}

<p>
Your account, {{ user }}, and PI group, {{ pi_group_gid }}, are scheduled to be disabled on {{ expiration_date }} because your credential verification has lapsed.
If you do not log in to the {{ portal_hyperlink|raw }} before {{ expiration_date }}, you will lose access to Unity HPC Platform services.
You can check your status by running `unity-account-expiry-status` from the Unity command line.
</p>
<p>
To maintain an active Unity account, users must verify your institutional credentials on a biannual basis due to security requirements.
Not all forms of activity prove good standing, so only certain actions (like logging into the {{ portal_hyperlink|raw }}) reset the 'inactivity timer'.
In this first phase of account expiration, all data is preserved, but without intervention data may eventually be lost.
For more information, see our {{ policy_hyperlink|raw }}.
</p>
<p>
Additionally, please use this opportunity to verify all users under your PI group are current students or collaborators by
visiting the "My Users" tab in the {{ portal_hyperlink|raw }}.
</p>
{% if is_final_warning %}
<p>This is the final warning.\n</p>
{% endif %}
{{ include('footer.html.twig') }}
