
{% if flag == constant('UnityWebPortal\\lib\\UserFlag::QUALIFIED') %}
{% do setSubject('Unity Account Disqualified') %}
<p>Hello,</p>
<p>
    Your account on the Unity HPC Platform, "{{ user }}" has been disqualified.
    You should no longer be able to access Unity HPC Platform services.
</p>
<p>In order to be qualified, you must be a PI or be a member of at least one PI group.</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::DISABLED') %}
{% do setSubject('Unity Account Re-Enabled') %}
<p>Hello,</p>
<p>
    Your account on the Unity HPC Platform, "{{ user }}" has been re-enabled.
    You should now be able to access Unity HPC Platform services.
</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::LOCKED') %}
{% do setSubject('Unity Account Unlocked') %}
<p>Hello,</p>
<p>
    Your account on the Unity HPC Platform, "{{ user }}" has been unlocked.
    You should now be able to access Unity HPC Platform services.
</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::IDLELOCKED') %}
{% do setSubject('Unity Account Unlocked') %}
<p>Hello,</p>
<p>
    Your account on the Unity HPC Platform, "{{ user }}" has been unlocked.
    You should now be able to access Unity HPC Platform services.
</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::ADMIN') %}
{% do setSubject('Unity Account Demoted') %}
<p>Hello,</p>
<p>Your account on the Unity HPC Platform, "{{ user }}" has been demoted from admin.</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::IMMORTAL') %}
{% do setSubject('Unity Account Mortalized') %}
<p>Hello,</p>
<p>Your account on the Unity HPC Platform, "{{ user }}" has been made mortal (no longer exempt frome expiry).</p>
<p>If you believe this to be a mistake, please reply to this email as soon as possible.</p>

{% else %}
{% do setSubject('Unity Account Modified') %}
{% set mod_id = uniqid() %}
{% do errorLog('warning', 'unknown flag', errorid: mod_id, data: flag) %}
<p>Hello,</p>
<p>Your account on the Unity HPC platform, "{{ user }}", has been modified.</p>
<p>Modification ID: {{ mod_id }}</p>
<p>Please reply to this email and provide the modification ID for more information.</p>

{% endif %}
{{ include('footer.html.twig') }}
