
{% if flag == constant('UnityWebPortal\\lib\\UserFlag::QUALIFIED') %}
{% do setSubject('User Qualified') %}
<p>Hello,</p>
<p>User "{{ user }}" has been qualified. </p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::DISABLED') %}
{% do setSubject('User Disabled') %}
<p>Hello,</p>
<p>User "{{ user }}" has been disabled. </p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::LOCKED') %}
{% do setSubject('User Locked') %}
<p>Hello,</p>
<p>User "{{ user }}" has been locked. </p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::IDLELOCKED') %}
{% do setSubject('User Idle Locked') %}
<p>Hello,</p>
<p>User "{{ user }}" has been idle locked. </p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::ADMIN') %}
{% do setSubject('User Promoted') %}
<p>Hello,</p>
<p>User "{{ user }}" has been promoted to admin. </p>

{% elseif flag == constant('UnityWebPortal\\lib\\UserFlag::IMMORTAL') %}
{% do setSubject('User Immortalized') %}
<p>Hello,</p>
<p>User "{{ user }}" has been made immortal (exempt from expiry). </p>

{% else %}
{% do setSubject('User Modified') %}
{% set mod_id = uniqid() %}
{% do errorLog('warning', 'unknown flag', errorid: mod_id, data: flag) %}
<p>Hello,</p>
<p>The user "{{ user }}" has been modified.</p>
<p>Modification ID: {{ mod_id }}</p>
<p>For more information, search the error log for this modification ID.</p>

{% endif %}
{{ include('footer.html.twig') }}
